:root {
    --sun-size: 75px;
    --speed: 1;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow{
    from {
        background-color: orange;
        box-shadow: 0 0 50px orange;
    }
    to {
        background-color: yellow;
        box-shadow: 0 0 50px yellow;
    }
}

body {
    background-color: black;
    overflow: hidden;
}

.celestial {
    position: absolute;
    border-radius: 50%;
}

.sun {
    top: calc(50vh - var(--sun-size)/2);
    left: calc(50vw - var(--sun-size)/2);
    border: 1px solid orange;
    background-color: orange;
    box-shadow: 0 0 50px orange;
    height: var(--sun-size);
    width: var(--sun-size);
    animation: glow calc(5s / var(--speed)) linear infinite alternate;

}
.mercury-orbit {
    top: calc(50vh - var(--sun-size) * 1);
    left: calc(50vw - var(--sun-size) * 1);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 2);
    width: calc(var(--sun-size) * 2);
    animation: spin calc(8.8s / var(--speed)) linear infinite;
}
.mercury {
	margin-left: 11.5%;
	margin-top: 11.5%;
    border: 1px solid transparent;
    background-color: gray;
    height: calc(var(--sun-size) / 10);
    width: calc(var(--sun-size) / 10);
}
.venus-orbit {
    top: calc(50vh - var(--sun-size) * 1.5);
    left: calc(50vw - var(--sun-size) * 1.5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 3);
    width: calc(var(--sun-size) * 3);
    animation: spin calc(22.5s / var(--speed)) linear infinite;
}
.venus {
	margin-left: 11.5%;
	margin-top: 11.5%;
    border: 1px solid transparent;
    background-color: yellow;
    height: calc(var(--sun-size) / 6);
    width: calc(var(--sun-size) / 6);
}
.earth-orbit {
    top: calc(50vh - var(--sun-size) * 2);
    left: calc(50vw - var(--sun-size) * 2);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 4);
    width: calc(var(--sun-size) * 4);
    animation: spin calc(36.5s / var(--speed)) linear infinite;
}
.earth {
	margin-left: 11.5%;
	margin-top: 11.5%;
    border: 1px solid transparent;
    background-color: blue;
    height: calc(var(--sun-size) / 5);
    width: calc(var(--sun-size) / 5);
}
.moon {
	margin-left: -11.5%;
	margin-top: -11.5%;
    border: 1px solid transparent;
    background-color: lightgrey;
    height: calc(var(--sun-size) / 8);
    width: calc(var(--sun-size) / 8);
}
.moon-orbit {
	margin-left: -55%;
	margin-top: -55%;
    border: 1px solid transparent;
    background-color: transparent;
    height: calc(var(--sun-size) / 2.5);
    width: calc(var(--sun-size) / 2.5);
    animation: spin calc(2s / var(--speed)) linear infinite;
}
.mars-orbit {
    top: calc(50vh - var(--sun-size) * 2.5);
    left: calc(50vw - var(--sun-size) * 2.5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 5);
    width: calc(var(--sun-size) * 5);
    animation: spin calc(68.67s / var(--speed)) linear infinite;
}
.mars {
	margin-left: 13%;
	margin-top: 13%;
    border: 1px solid transparent;
    background-color: red;
    height: calc(var(--sun-size) / 8);
    width: calc(var(--sun-size) / 8);
}
.jupiter-orbit {
    top: calc(50vh - var(--sun-size) * 3.5);
    left: calc(50vw - var(--sun-size) * 3.5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 7);
    width: calc(var(--sun-size) * 7);
    animation: spin calc(433.2s / var(--speed)) linear infinite;
}
.jupiter {
	margin-left: 10.5%;
	margin-top: 10.5%;
    border: 1px solid transparent;
    background-color: orange;
    height: calc(var(--sun-size) / 2);
    width: calc(var(--sun-size) / 2);
}
.saturn-orbit {
    top: calc(50vh - var(--sun-size) * 4);
    left: calc(50vw - var(--sun-size) * 4);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 8);
    width: calc(var(--sun-size) * 8);
    animation: spin calc(1076s / var(--speed)) linear infinite;
}
.saturn {
	margin-left: 12.75%;
	margin-top: 12.75%;
    border: 1px solid transparent;
    background-color: palegoldenrod;
    height: calc(var(--sun-size) / 4);
    width: calc(var(--sun-size) / 4);
}
.saturn-rings {
	margin-left: -57%;
	margin-top: -57%;
    border: 5px solid grey;
    background-color: transparent;
    height: calc(var(--sun-size) / 2.5);
    width: calc(var(--sun-size) / 2.5);
}
.uranus-orbit {
    top: calc(50vh - var(--sun-size) * 4.5);
    left: calc(50vw - var(--sun-size) * 4.5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 9);
    width: calc(var(--sun-size) * 9);
    animation: spin calc(3068.5s / var(--speed)) linear infinite;
}
.uranus {
	margin-left: 13.25%;
	margin-top: 13.25%;
    border: 1px solid transparent;
    background-color: turquoise;
    height: calc(var(--sun-size) / 5);
    width: calc(var(--sun-size) / 5);
}
.uranus-rings {
	margin-left: -40%;
	margin-top: -40%;
    border: 1px solid grey;
    background-color: transparent;
    height: calc(var(--sun-size) / 3);
    width: calc(var(--sun-size) / 3);
}
.neptune-orbit {
    top: calc(50vh - var(--sun-size) * 5);
    left: calc(50vw - var(--sun-size) * 5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 10);
    width: calc(var(--sun-size) * 10);
    animation: spin calc(6019.1s / var(--speed)) linear infinite;
}
.neptune {
	margin-left: 13.75%;
	margin-top: 13.75%;
    border: 1px solid transparent;
    background-color: turquoise;
    height: calc(var(--sun-size) / 6);
    width: calc(var(--sun-size) / 6);
}
.pluto-orbit {
    top: calc(50vh - var(--sun-size) * 5.5);
    left: calc(50vw - var(--sun-size) * 5.5);
    background-color: transparent;
    border: 1px solid lightblue;
    height: calc(var(--sun-size) * 11);
    width: calc(var(--sun-size) * 11);
    animation: spin calc(9080s / var(--speed)) linear infinite;
}
.pluto {
	margin-left: 14%;
	margin-top: 14%;
    border: 1px solid transparent;
    background-color: darkblue;
    height: calc(var(--sun-size) / 12);
    width: calc(var(--sun-size) / 12);
}
